[submodule "lib/hump"]
	path = lib/hump
	url = https://github.com/vrld/hump
[submodule "lib/ldoc"]
	path = lib/ldoc
	url = https://github.com/stevedonovan/LDoc
[submodule "lib/middleclass"]
	path = lib/middleclass
	url = https://github.com/kikito/middleclass
[submodule "lib/sti"]
	path = lib/sti
	url = https://github.com/karai17/Simple-Tiled-Implementation
[submodule "lib/inspect"]
	path = lib/inspect
	url = https://github.com/kikito/inspect.lua
[submodule "lib/anim8"]
	path = lib/anim8
	url = https://github.com/kikito/anim8
[submodule "lib/bump"]
	path = lib/bump
	url = https://github.com/kikito/bump.lua
[submodule "lib/beholder"]
	path = lib/beholder
	url = https://github.com/kikito/beholder.lua
[submodule "lib/stateful"]
	path = lib/stateful
	url = https://github.com/kikito/stateful.lua
[submodule "lib/cargo"]
	path = lib/cargo
	url = https://github.com/bjornbytes/cargo
